body {
  padding-bottom: 20px; 
  line-height: 1.5;
}

/* max-width: 700px; display: block; margin:auto; */

p {
  max-width: 1000px; 
  text-align: justify;
}

ul {
  max-width: 900px; 
  text-align: left;
}

